<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fighter3.mapper.CourseMapper">
    <select id="selectCoursePage" resultType="Course">
        select * from courses
        <where>
            <if test="keyword != null and keyword != ''">
                or course_id like CONCAT('%', #{keyword}, '%')
                or course_name like CONCAT('%', #{keyword}, '%')
                or course_description like CONCAT('%', #{keyword}, '%')
                or teacherId like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    <select id="selectCourseStudentById" resultType="Course_student">
        select * from courses_student
        WHERE student_id = #{studentId}
    </select>
    <select id="getAllCourses" resultType="Course">
        SELECT * FROM courses
    </select>
    <select id="getCourseById" resultType="Course">
        SELECT * FROM courses WHERE course_id = #{courseId}
    </select>
</mapper>