<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fighter3.mapper.ProblemMapper">
    <!-- ProblemMapper.xml 映射文件 -->
    <insert id="batchBindStudentsToProblems">
        INSERT IGNORE INTO problem_student
        (problem_id, student_id, learned)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.problemId}, #{item.studentId}, DEFAULT)
        </foreach>
    </insert>

    <insert id="batchBindProblemToStudents">
        INSERT IGNORE INTO problem_student
        (problem_id, student_id, learned)
        VALUES
        <if test="list != null and list.size() > 0">
            <foreach collection="list" item="item" separator=",">
                (#{item.problemId}, #{item.studentId}, DEFAULT)
            </foreach>
        </if>
        <if test="list == null or list.size() == 0">
            (null, null, 0) <!-- 构造一个无效值，避免语法错误 -->
        </if>
    </insert>

</mapper>