<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fighter3.mapper.UserMapper">
    <select id="selectUserPage" resultType="User">
        select * from user
        <where>
            <if test="keyword !=null and keyword !='' ">
                or id like CONCAT('%',#{keyword},'%')
                or user_name like CONCAT('%',#{keyword},'%')
                or email like CONCAT('%',#{keyword},'%')
                or role like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <!-- 批量插入用户 -->
    <insert id="batchInsertUsers" >
        INSERT INTO user (id,user_name, password, email, role) VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.id},#{user.userName}, #{user.password}, #{user.email}, #{user.role})
        </foreach>
    </insert>

</mapper>
